$color-primary: #4BA87D;
$color-primary-light: #FDDCC4;
$color-dark-3xl: #292929;
$color-dark-s: #CDCDCD;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-light-xl: #ffffff;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-m: #B2B2B2;