html {
    scroll-behavior: smooth;
    background-color: var(--color-light-xl);
    box-sizing: border-box;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {    
    margin: 0;
    padding: 0;
    color: var(--color-dark-3xl);
}

a {
    text-decoration: none;
}

.section {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}